export PI_VM_USER=ubuntu
export PI_VM_PASSWORD=ubuntu
export PI_VM_SUDO_PASSWORD=ubuntu

export LINUX_VM_USER=ubuntu
export LINUX_VM_PASSWORD=ubuntu
export LINUX_VM_SUDO_PASSWORD=ubuntu

export ANSIBLE_HOST_KEY_CHECKING=False

export PI_IP_POOL="172.16.0.11-172.16.0.20"
export VMS_IP_POOL="172.16.0.21-172.16.0.30"

export PI_HOSTS='["pi4-node-1", "pi4-node-2", "pi4-node-3"]' # Add more nodes to the array that are arm64 architecture
export VM_HOSTS='["k8s-node-1", "k8s-node-2", "k8s-node-3"]' # Add more nodes to the array that are amd64 architecture