export PI_USER=ubuntu
export PI_PASSWORD=ubuntu
export PI_SUDO_PASSWORD=ubuntu

export VM_USER=ubuntu
export VM_PASSWORD=ubuntu
export VM_SUDO_PASSWORD=ubuntu

export ANSIBLE_HOST_KEY_CHECKING=False

export PI_IP_POOL="172.16.0.11-172.16.0.20"
export VM_IP_POOL="172.16.0.21-172.16.0.30"

export PI_CONTROL_PLANE_HOSTS=pi4-node-1 # Add more nodes to the array that are arm64 architecture
export VM_CONTROL_PLANE_HOSTS=k8s-node-1 # Add more nodes to the array that are amd64 architecture

export PI_WORKER_HOSTS=pi4-node-2,pi4-node-3 # Add more nodes to the array that are arm64 architecture
export VM_WORKER_HOSTS=k8s-node-2,k8s-node-3 # Add more nodes to the array that are amd64 architecture

export NFS_SERVER=nfs-server.example.com
export NFS_MOUNT=/nfs

export K8s_VERSION=1.35
export K8s_MINOR_VERSION=1.35.0

export DOMAIN_NAME="k8s.example.local"
export SITE_NAME="headlamp"