deployment:
  replicas: 1

ingressClass:
  enabled: true
  isDefaultClass: true
  name: traefik

providers:
  kubernetesIngress:
    enabled: true
  kubernetesCRD:
    enabled: true

# ONLY HTTP ENTRYPOINT
ports:
  web:
    port: 80
    exposedPort: 80
    protocol: TCP

# IMPORTANT: do NOT define websecure at all

service:
  type: LoadBalancer

# No TLS, no ACME, no redirects
additionalArguments:
  - "--log.level=INFO"

experimental:
  http3:
    enabled: false
