- name: Update apt-packages on linux vms
  hosts: all
  any_errors_fatal: true
  gather_facts: false

  tasks:
    - name: Ping the hosts
      ansible.builtin.ping:

    - name: Update Apt Cache
      ansible.builtin.apt:
        update_cache: true

    - name: Upgrade all packages
      ansible.builtin.apt:
        upgrade: dist

    - name: Autoremove unnecessary packages
      ansible.builtin.apt:
        autoremove: yes
        autoclean: yes
