---
- name: Update and upgrade apt packages
  hosts: all
  become: true
  gather_facts: true

  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes

    - name: Upgrade all packages
      ansible.builtin.apt:
        upgrade: dist
        autoremove: yes
        autoclean: yes

    - name: Check if reboot is required
      ansible.builtin.stat:
        path: /var/run/reboot-required
      register: reboot_flag

    - name: Accumulate reboot requirement (apt)
      ansible.builtin.set_fact:
        reboot_required: "{{ reboot_required | default(false) or reboot_flag.stat.exists }}"