- name: Reboot systems if reboot_required result is true
  hosts: all
  gather_facts: false

  tasks:
    - name: System Reboot
      ansible.builtin.reboot:
        reboot_timeout: 600
      when: 
        - reboot_required.changed