- import_playbook: ../playbooks/apt-update-playbook.yaml

- name: Update apt-packages on linux vms
  hosts: all
  tasks:
    - name: Perform reset
      become_user: root
      shell: |
        kubeadm reset -f
        rm -rf /var/lib/calico /var/lib/containerd /var/lib/kubelet /var/lib/cni /etc/cni/net.d /etc/kubernetes /etc/containerd $HOME/.kube
    - name: Remove all the pods, containers, images
      become_user: root
      shell: |
        crictl rmp -a -f
        crictl rm -a -f
        crictl rmi -a

- import_playbook: ../playbooks/reboot-playbook.yaml